body {
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border-radius: 200px;
}

video {
    width: 200px;
    height: 150px;
    display: flex;
    position: relative;
    border: 1px solid black;  
}

#toggleWebcam {
    margin-top: 10px;
    border: 5px solid green;
}

.logo {
    width: 15px;
    height: 15px;
    margin-top: 20px;
    background-color: yellow;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 290px;
    position: relative;
}

#permission {
    display: flex;
    left: 30%;
    top: 40%;
    position: absolute;
    text-align: center;
    background-color: red;
    color: white;
}